<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <!-- String interpolation -->
  <h4>Appareil : {{ appareilName }} -- Statut: <span [ngStyle]="{color: getColor()}">{{ getStatus() }}</span></h4>
  <!-- Route vers le détail d'un appareil -->
  <a [routerLink]="[id]">Détail</a>
  <!-- Two way binding -->
  <input type="text" class="form-control" [(ngModel)]="appareilName" />
  <!-- Directive structurelle (ngIf) -->
  <button class="btn btn-success" *ngIf="appareilStatus === 'éteint'" (click)="onSwitch()">Allumer</button>
  <button class="btn btn-danger" *ngIf="appareilStatus === 'allumé'" (click)="onSwitch()">Éteindre</button>
</li>
