<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <!-- Pipe date -->
      <p>Dernière mise à jour: {{ lastUpdate | async | date: 'dd/MM/yyyy - HH:mm'}}</p>
      <ul class="list-group">

        <!-- two way binding [appareilName] + directive ngFor -->
        <app-appareil *ngFor= "let appareil of appareils; let i = index"
                      [appareilName] = "appareil.name"
                      [appareilStatus] = "appareil.status"
                      [index] = "i"
                      [id] ="appareil.id"></app-appareil>
      </ul>
      <!-- Property binding (isAuth) + Event binding (click) -->
      <button class="btn btn-succes"
              (click)="onAllumer()">Tout allumer</button>

      <button class="btn btn-danger"
              (click)="onEteindre()">Tout éteindre</button>
    </div>
  </div>
</div>
